#
# Template Time Variables:
#   none
#
# Run Time Variables:
#   - overseer_name
#   - schedule_name
#   - overseer_aws_region
#   - overseer_aws_access_key
#   - overseer_aws_secret_key
#
---
- name: Stop hosts managed by this overseer.
  hosts: "{% raw %}{{ overseer_aws_region }}:&{{ overseer_name_tag }}:&{{ schedule_name_tag }}:!{{ overseer_ignore_tag }}{% endraw %}"
  gather_facts: no
  sudo: no
  
  vars:
    overseer_ignore_tag: ~tag_Overseer_(iI)gnore
    overseer_name_tag: "{% raw %}tag_Overseer_{{ overseer_name | regex_replace('[^\\w]+', '_') }}{% endraw %}"
    schedule_name_tag: "{% raw %}tag_StartStopSchedule_{{ schedule_name | regex_replace('[^\\w]+', '_') }}{% endraw %}"

  tasks:
    - name: Ensure that instances with the specified StartStopSchedule are stopped.
      ec2:
        region: "{% raw %}{{ overseer_aws_region }}{% endraw %}"
        aws_access_key: "{% raw %}{{ overseer_aws_access_key }}{% endraw %}"
        aws_secret_key: "{% raw %}{{ overseer_aws_secret_key }}{% endraw %}"
        instance_ids: [ "{% raw %}{{ ec2_id }}{% endraw %}" ]
        state: stopped
      delegate_to: 127.0.0.1
